
.about {
  color: rgb(59, 59, 59);    
  background: url("src/assets/images/noise-texture.jpeg"),hsla(34, 78%, 91%, 1);
  background-blend-mode: screen;
  border-radius: 20px;
  background-position: center;
  background-repeat: repeat;
  background-size: 500px 500px;
  filter: drop-shadow(0 1rem 0.75rem rgba(0, 0, 0, 0.3));
  height: auto;
  padding: 5rem 0;
}

.about:hover {
  filter: drop-shadow(0 1rem 0.75rem hsla(34, 78%, 91%, .3));


}

.text{
  width: 70%;
  text-align: center;
}
