
.about {
  color: rgb(59, 59, 59);    
  background: url("src/assets/images/noise-texture.jpeg"),hsla(34, 78%, 91%, 1);
  background-blend-mode: screen;
  border-radius: 20px;
  background-position: center;
  background-repeat: repeat;
  background-size: 500px 500px;
  filter: drop-shadow(0 1rem 0.75rem rgba(0, 0, 0, 0.3));
  height: auto;
  padding: 5rem 0;
  position: relative;
}

.about:hover {
  filter: drop-shadow(0 1rem 0.75rem hsla(34, 78%, 91%, .3));


}

.text{
  width: 70%;
  text-align: center;
}

.divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider-top svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 54px;
  transform: rotateY(180deg);
}

.divider-top .shape-top {
  fill: #3138fb;
}

.divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.divider-bottom svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 54px;
  transform: rotateY(180deg);
}

.divider-bottom .shape-bottom {
  fill: #3138fb;
}