
.about {
  color: #212121;    
  background-color: #fcf6eef2;
  background-blend-mode: screen;
  border-radius: 10px;
  border:  2px solid #212121;
  box-shadow: 15px 15px #212121;
  height: auto;
  padding: 5rem 0;
  position: relative;
}

.noise {
  background: url("/images/noise-texture.jpeg");
  background-position: center;
  background-repeat: repeat;
  border-radius: 10px;
  background-size: 500px 500px;
  z-index: 100;


}


.about:hover {
  box-shadow: 15px 15px #212121;


}

.text{
  width: 70%;
  text-align: center;
}


@media only screen and (max-width: 800px) {

  .about {
    color: #212121;    
    background: url("/images/noise-texture.jpeg");
    background-color: #faead6;
    background-blend-mode: screen;
    border-radius: 10px;
    border:  2px solid #212121;
    background-position: center;
    background-repeat: repeat;
    background-size: 200px 200px;
    box-shadow: 15px 15px #212121;
    height: auto;
    padding: 5rem 0;
    position: relative;
  }

  .text{
    width: 90%;
    text-align: center;
  }

}