
.home{
    font-size: 100px;
    color: rgb(27, 27, 27);    
    position: relative;
    z-index: 10;
    background-image: url("src/assets/images/Background Poster.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 80vh;
    display: flex;
    flex-direction: column;
    height: 90vh;
    position: relative;

}

span {
    color: blue;
    
}

.welcomeText {
    width: 60%;
    font-weight: 900;
}


.divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.divider svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 54px;
    transform: rotateY(180deg);
}

.divider .shape {
    fill: #3138fb;
}