
.home{
    color: #212121;    
    position: relative;
    z-index: 10;
    background-image: url("src/assets/images/background-poster-2.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 80vh;
    display: flex;
    flex-direction: column;
    height: 90vh;
    position: relative;

}

span {
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #212121;
    
}

.welcomeText {
    width: 60%;
    font-weight: 900;
}


.divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.divider svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 54px;
    transform: rotateY(180deg);
}

.divider .shape {
    fill: #B4D9EF;
}

.touch-button{
    box-shadow: 1px 1px 3px rgb(255, 255, 255), 5px 5px #212121
}